* {

    
}





.main-title {

    color: #2e8b57;
    font-size: 52px;

    
}


.main-subtitle {

    color: blue;
    font-size: 25px;

}

h1 {

    color:#005500;

}

h2 {

    color: #b40303c4 
}

.post {

    background-color: burlywood;
}

#produtoPromo {

    color: #3f0025c4; 
    font-size: 22 px;
}

.post h1 {

    font-size: 100px;
}

/* 
hashtag indica id (mais usado em java)
id é melhor não repetir, para isso servem as classes

ponto indica ser classe
senão indicaria tag? 
* é seletor coringa 
atalho para comentar é command /
*/



