* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    height: 2000px;
}

header {
    top: 10px;
    background-color: rgb(240, 96, 0);
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 100;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    padding-bottom: 40px;
    margin-bottom: 50px;

}

body {
    width: 100%;
    background-image: url("https://media.istockphoto.com/photos/behold-the-inside-of-your-computer-picture-id536753331");
}

.produto {
    margin-top: 100px;
    height: 200px;
    width: 200px;
    background-color: orange;
    position: absolute; 
    /* o absolute é relativo a janela, distancia dos lados */
    left: 0;
    bottom: 200px;
    /* relative mantém referncia da posicão que ele deveria estar, relativo a ele mesmo. sobrepondo outros elementos, diferente de margem  */
    /* top: 2px;
    left: 50px; */
}

.whatsapp { 
    position: fixed;
    z-index: 100;
    right: 0px;
    bottom: 0px;
    height: 101px;
    width: 101px;
    background-image: url("whatsapp.png");
    
}


.produto {

}


a {

    padding: 20px;
    color: white;
}
